/*	stylesheet.css
		a simple stylesheet for my website
	COMP20: Web Programming
	Assignment 1
	Sam Testa
	Spring 2019	*/

body {
	background-color: #C6DEFF;
	font-family: "Garamond";
}

img {
	text-align: center;
	width: 30%;
	padding: 50px;
}

h1 {

}

h2 {

}

.bold {
	font-weight: bold;
}